﻿
<!DOCTYPE html>
<html>
<head>
    <title>Altran - API Doc</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .menu-content[_ngcontent-c0] {
            background: #F7F7F7;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        .menu-item-header > span {
            color: #376786 !important;
            font-size: 15px !important;
            text-transform: capitalize;
        }

        h1 {
            color: #376786 !important;
            font-size: 24px !important;
            font-weight: lighter;
        }

        h1, h2, h3, h4, h5, h6, .menu-item-depth-1 > .menu-item-header, .param-name-wrap {
            font-family: "Open Sans",Arial,Helvetica,Sans-Serif !important;
        }

        .operation-samples {
            background: #376786 !important;
        }

        .redoc-wrap {
            color: #666 !important;
            font-family: "Open Sans",Arial,Helvetica,Sans-Serif !important;
        }

        .api-content {
            background: white;
        }
    </style>
</head>
<body>

    <div style="height: 75px;background-color: #f2f7fc;border-bottom: 2px solid #4187d1;"><img src="~/scritps/altran.png" /></div>
    <redoc spec-url='/swagger/v1/swagger.json' suppress-warnings></redoc>
    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"></script>
</body>
</html>